[Unit]
Description=NFS Server
Requires=proc-fs-nfsd.mount var-lib-nfs-rpc_pipefs.mount rpcbind.service
After=network.target named.service rpcbind.service proc-fs-nfsd.mount var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
StandardError=syslog+console
ExecStart=/usr/sbin/exportfs -r
ExecStop=/usr/sbin/exportfs -f

[Install]
WantedBy=multi-user.target

