[Unit]
Description=pNFS block layout mapping daemon
Wants=var-lib-nfs-rpc_pipefs.mount
Requires=var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/sysconfig/nfsfs
ExecStart=/usr/sbin/blkmapd $BLKMAPDOPTIONS

[Install]
WantedBy=multi-user.target
