[Unit]
Description=NFSv4 ID <-> Name Mapper
Requires=var-lib-nfs-rpc_pipefs.mount rpcbind.service
After=network.target named.service rpcbind.service var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/sysconfig/nfsfs
EnvironmentFile=-/etc/sysconfig/nfsd
ExecStart=/sbin/rpc.idmapd $RPCIDMAPOPTIONS

[Install]
WantedBy=multi-user.target

