[Unit]
Description=NFS client GSSAPI daemon
Requires=var-lib-nfs-rpc_pipefs.mount
After=syslog.target var-lib-nfs-rpc_pipefs.mount nfs-idmapd.service

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/sysconfig/nfsfs
ExecStart=/sbin/rpc.gssd $RPCGSSOPTIONS

[Install]
WantedBy=multi-user.target
